# Choose where source code will live.
# Folder must not exist on first run of zbx-box, or at least have it empty.
WORKTREE=/home/rob/src

# This is where I see frontend.
WEBTLD=localhost/

# Jira username handle. Used for stub-message creation and authorization.
JIRAUSER=rob
# Jira username password. Used to edit/add comments and fetch ticket data.
JIRAPASS=pass

# Used for quick access, and more.
JIRAURL=https://support.zabbix.com/

# Remote url. Choose ssh@path if you need write access.
GITREMOTE=https://git.zabbix.com/scm/zbx/zabbix.git
GITREMOTE=ssh://git.zabbix.lan:7999/zbx/zabbix.git

# Used for quick access and stub-messages.
BITBUCKET_PROJECT=https://git.zabbix.com/projects/ZBX/repos/zabbix

# A program that will write to clipboard
# (a chosen script/program must be able to read stdin)
SYS_CLIPBOARD="xclip -selection primary"
SYS_CLIPBOARD=wl-copy

# "z" directory jumper file. Leave this empty if you do not use "z"
# it is the thing:
Z_JUMP_FILE=$HOME/.local/share/z/data

# vi: ft=sh
