<?php
global $DB, $HISTORY;
$DB['TYPE'] = 'POSTGRESQL';
$DB['SERVER'] = 'zbx-box-postgres';
$DB['PORT'] = '0';
$DB['DATABASE'] = '{{ $DREF }}';
$DB['USER'] = 'postgres';
$DB['PASSWORD'] = 'zabbix';
$DB['SCHEMA'] = '';
$DB['DOUBLE_IEEE754'] = true;

$ZBX_SERVER = 'zbx-box-{{ $DREF }}-server';
$ZBX_SERVER_PORT = '10051';
$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;

/* // mariadb override */
/* $DB['TYPE'] = 'MYSQL'; */
/* $DB['SERVER'] = 'zbx-box-mariadb'; */
/* $DB['USER'] = 'root'; */

/* // oracle 11g override */
/* $DB['TYPE'] = 'ORACLE'; */
/* $DB['SERVER'] = 'zbx-box-oracle-11g'; */
/* $DB['USER'] = '{{ $DREF }}'; */
/* $DB['PASSWORD'] = '{{ $DREF }}'; */
/* $DB['DATABASE'] = 'XE'; */

/* // oracle 19c override */
/* $DB['TYPE'] = 'ORACLE'; */
/* $DB['SERVER'] = 'zbx-box-oracle-19c'; */
/* $DB['USER'] = '{{ $DREF }}'; */
/* $DB['PASSWORD'] = '{{ $DREF }}'; */
/* $DB['DATABASE'] = 'INDIA'; */

$ZBX_SERVER_NAME = '{{ $DREF }} '.$DB["TYPE"];

