LogFile=/var/www/html/{{ $REF }}/dist/zabbix_server.log
DBHost={{ $DBHOST }}
DBName={{ $DBNAME }}
DBUser={{ $DBUSER }}
DBPassword={{ $DBPASS }}
LogSlowQueries=200
Timeout=4
CacheSize=512M
TrendCacheSize=64M
ValueCacheSize=1G
AlertScriptsPath=/var/www/html/{{ $REF }}/dist/share/zabbix/alertscripts

# HistoryStorageURL=http://zbx-box-elasticsearch-7.8.0:9200
# HistoryStorageTypes=uint,dbl,str,log,text
